:root {
	--animation-dur: 1s;
	--postIt-padding: 50px;
	--postIt-top-padding: 4vh;
	--postIt-height: 16vw;
	--postIt-font-size: 3.5vmax;
	--tack-width: 2vw;
	--polaroid-font-size: 2vw;
	--polaroid-padding: 10%;
	--polaroid-size: 30vw;
	--item-centerX: 0;
	--item-centerY: 0;
	--mobile-break: 600px;
	--viewport-height: 100vh;
}

@media screen and (max-width: 1024px) {
	:root {
		--postIt-height: 20vmax;
		--postIt-font-size: 4vmax;
		--tack-width: 3vh;
		--polaroid-font-size: 2vh;
		--polaroid-padding: 10%;
		--polaroid-size: 25vh;
	}
}

html {
	margin: 0;
	scroll-behavior: smooth;
	min-width: 100vw;
	overflow:hidden !important;
	touch-action: none;
	overscroll-behavior: none;
}

body {
	margin: 0;
	overflow:hidden !important;
	min-width: 100vw;
	touch-action: none;
	overscroll-behavior: none;
	/* height: 500vh; */
	/* position: fixed; */
	top: 0;
	/* bottom: 0; */
	/* left: 0; */
	/* right: 0; */
}

body.isFixed {
	position:fixed;
	transition: top 0.5s;
	/* top:-100vh; */
	/* height:500vh; */
	/* width:0; */
}

.parallaxBG {
	background-image: url('images/gridPaperbg_flip.jpg');
	background-attachment: scroll;
	background-position: center;
	background-repeat: repeat;
	height: calc(var(--viewport-height) *5);
	position: relative;
}

.viewport-container {
	position: absolute;
	width: 100%;
	height: var(--viewport-height);
	/* overflow: hidden; */
}

/* .rootDiv div:nth-of-type(1) { */
	/* top: 0; */
/* } */

#section-how {
	top: 0;
}

#section-what {
	top: 100vh;
	top: calc(var(--viewport-height) *1);
}

#section-where {
	top: 200vh;
	top: calc(var(--viewport-height) *2);
}

#section-who {
	top: 300vh;
	top: calc(var(--viewport-height) *3);
}

p {
	margin: 0;
	padding-top: 0;
}

span.cover {
	margin: 0;
	background: rgba(0, 0, 0, 0.1);
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
}

.fixed-el.nav-menu {
	display: inline-block;
	z-index: 3;
	position: fixed;
	width: 100vw;
	top: 0;
}

.nav-menu img {
	width: 40vw;
	height: auto;
	filter: drop-shadow(10px 8px 4px dimgrey);
	border: 1px solid transparent;
	overflow: hidden;
	transform: translate(-50%, -70%);
	left: 50%;
	position: relative;
	transition: transform 0.5s; 
}

.nav-menu:hover img {
	transform: translate(-50%, 0);
}

@media screen and (max-width: 1250px) {
	.nav-menu {
		transform: rotate(0deg);
	}
	.nav-menu img {
		width: 90vw;
	}
	
}

.objDiv {
	height: 100%;
	position: relative;
}

#edp {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: calc(var(--viewport-height) - 15%);
	width: 100vw;
	overflow: hidden;
	z-index: 1;
}

@media screen and (max-width: 600px) {
	#edp {
		height: 100vw;
		width: calc(var(--viewport-height) - 25%);
		transform: translate(-50%, -50%) rotate(90deg);
	}
	h1.headline {
		margin-bottom: 25vh;
	}
}

.sign {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	overflow: hidden;
	/* background-color: black; */
	/* width: 100vw; */
	/* height: 100vh; */
	visibility: hidden;
	/* top: 50vh; */
	/* transform: translateY(-50%); */
	width: min-content;
	height: min-content;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#mainSign {
	visibility: visible;
}

.rotateOut > * {
	animation: rotateOut 5s linear alternate both;
	/* animation-iteration-count: 2; */
	/* animation-delay: -1s; */
}

.rotateIn > * {
	animation: rotateIn 5s linear alternate both;
	/* animation-iteration-count: 2; */
	/* animation-delay: -1s; */
}


.headline {
	position: relative;
	/* background-image: repeating-radial-gradient(circle closest-side,  */
					  /* rgba(219,193,135,.35), */
					  /* rgba(219,193,135,0.25)), */
					  /* url('images/thumbs/crumpled_cropped.jpg'); */
	padding: 4px 25px;
	/* border: 5px solid rgba(219,193,135,.1); */
	/* border-radius: 60px 45px 30px 15px/15px 30px 45px 60px; */
	/* box-shadow: 1px 3px 4px 2px rgb(0,0,0,.3); */
	margin: 4px 0;
}

h1 {
	font-size: 10vmin;
	/* animation: flicker 3.5s infinite alternate; */
}

h2 {
	font-size: 4vmin;
}

.section-heading-container {
	position: relative;
	/* top: 2vh; */
}

.section-heading {
	position: relative;
	transition: transform .25s;
	/* padding: 0 2vw; */
}
.section-heading.flexed {
	display: flex;
}

.section-heading.flexed.left {
	grid-area: menuL;
}

.section-heading.flexed.center {
	grid-area: menuC;
	flex-direction: column;
}

.section-heading.flexed.right {
	grid-area: menuR;
}

h2.section-heading {
	padding: 0 2vw;
	color: gray;
}

.section-heading.current {
	color: black;
}

.section-heading.withHover:hover {
	color: blue;
	cursor: pointer;
	transform: scale(1.5);
}

.section-heading.underline {
	border-top: 2px solid red;
	border-radius: 100%;
	width: 6vw;
	height: 2vh;
	left: 47%;
	top: -5%;
	transform: translateX(-40%) skewY(-6deg);
}

.section-heading.bookend {
	color: black;
	padding: 0;
}

.section-heading.bookend:first-child {
	text-align: end;
}

.section-heading.bookend:last-child {
	text-align: start;
}

h1, h2, h3, h4 {
	font-family: 'Permanent Marker';
	font-weight: normal;
	font-style: normal;
	text-align: center;
	font-weight: 400;
	margin: 0;
}


.grid3row {
	display: grid;
	grid-template-rows: auto 1fr auto;
	/* grid-template-columns: repeat(5, 1fr); */
	grid-template-areas: 
	"header"
	"contentRow"
	"footer";
	/* grid-column-gap: 20px; */
	height: calc(var(--viewport-height) *1);
	width: 100vw;
}

.content-row {
	grid-area: contentRow;
}

.header-row {
	grid-area: header;
	display: grid;
	grid-template-columns: 1fr auto auto auto 1fr;
	grid-template-areas: 'spacerL menuL menuC menuR spacerR';
}

.footer-row {
	grid-area: footer;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.footer-row > p:first-child {
	flex-grow: 1;
	margin: 0;
	padding: 0;
}

.navSVG {
	height: 7vh;
	align-self: center;
	transition: transform .3s;
}

.navSVG:hover {
	transform: scale(1.3);
}

/* stop {
	stop-color: red;
} */

.columns-block {
	position: relative;
	display: flex;
	flex-direction: column;
	height: auto;
	width: auto;
	/* box-sizing: border-box; */
	padding: var(--postIt-top-padding) var(--postIt-padding);
	z-index: 2;
}
@media screen and (max-width: 899px) {
	.columns-block {
		height: var(--postIt-height);
	}
}

.rowOfColumns {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	box-sizing: border-box;
	grid-area: contentRow;
	width: 100vw;
}

@media screen and (max-width: 600px) {
	.rowOfColumns {
		flex-direction: column;
	}
}

.postIt-description {
	text-align: center;
	line-height: var(--postIt-height);
}

.folded {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	box-shadow: 6px 9px 10px 5px rgba(0, 0, 0, .4);
}

.folded.postIt {
	background-image: url('images/thumbs/crumpled_cropped.jpg');
	max-height: 330px;
	max-width: 330px;
	/* box-shadow: 30px 5px 30px 0px rgba(0, 0, 0, 0.2), 8px 8px 1px 2px rgba(0, 0, 0, 0.19); */
	height: var(--postIt-height);
	width: var(--postIt-height);
}

.postIt-container {
	display: flex;
	justify-content: center;
	align-items:center;
	box-sizing:inherit;
	animation: wobble-back .5s ease both;
}


.postIt-container.withHover {
	transform-origin: 50% 5%;
}

.postIt-container.withHover:hover {
	animation: wobble .5s ease both;
}

.gridded {
	border: 1px solid transparent;
	box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.2);
	background: rgba(255,255,153,0.4);
}

.gridded-portrait {
	border: 1px solid transparent;
	box-shadow: 1px 1px 15px 0px dimgrey;
}


.u-l {
	border-left: none;
	border-top: none;
	/* border-radius: 0 0 5px 0; */
}
.u-r {
	border-top: none;
	border-right: none;
	/* border-radius: 0 0 0 5px; */
}
.b-r {
	border-left: none;
	border-bottom: none;
	/* border-radius: 0 5px 0 0; */
}
.b-l {
	border-right: none;
	border-bottom: none;
	/* border-radius: 5px 0 0 0; */
}

.overlay {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: skew(24deg) rotate(5deg) translateY(-4%);
	width: 100%;
	height: 100%;
	font-family: "Caveat", cursive;
	font-size: var(--postIt-font-size);
	color: rgba(92,98,116,.85);
	/* opacity: 0.8; */
}

.tack img{
	width: var(--tack-width);
	/* opacity: 0.8; */
	filter: drop-shadow(7px 20px 11px black);
}

@media screen and (max-width: 899px) {
	.tack img {
		filter: drop-shadow(5px 12px 8px black);
	}
}

.tack {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	/* top: 0; */
	width: var(--postIt-height);
	transform: translateX(1vmax);
	z-index:3;
}

.polaroid-container {
	position: absolute;
	top: 0;
	height: 100%;
	/* height: var(--viewport-height); */
	width: 100%;
	display: grid;
	/* justify-content: center; */
	grid-template-rows: 1fr auto 1fr;
	grid-template-columns: repeat(2,1fr);
	grid-template-areas: "p1 p2" ". ." "p3 p4";
	visibility: hidden;
	opacity: 0;
	z-index: 4;
}

.polaroid-container * {
	box-sizing: border-box;
}

.item {
	/* width: var(--polaroid-size); */
	display: flex;
	/* width: 100%; */
	/* max-width: 45vmax; */
	filter: grayscale(100%);
	justify-content: center;
	align-items: center;
	max-width: 40vw;
	max-height: 40vh;
	margin: auto;
}

.item .polaroid::before {
	content: '';
	z-index: -1;
	transition: all 0.35s;
}

.item:nth-child(1) {
	grid-area: p1;
	/* padding-left: var(--polaroid-padding); */
	/* padding-top: var(--polaroid-padding); */
	transform: scale(0.8, 0.8) rotate(5deg);
	transition: all 0.35s;
}
.item:nth-child(1) .polaroid::before {
	transform: rotate(6deg);
}
.item:nth-child(2) {
	grid-area: p2;
	/* padding-right: var(--polaroid-padding); */
	/* padding-top: var(--polaroid-padding); */
	transform: scale(0.8, 0.8) rotate(-5deg);
	transition: all 0.35s;
}
.item:nth-child(2) .polaroid::before {
	transform: rotate(-6deg);
}
.item:nth-child(3) {
	grid-area: p3;
	/* padding-left: var(--polaroid-padding); */
	/* padding-bottom: var(--polaroid-padding); */
	transform: scale(0.8, 0.8) rotate(-3deg);
	transition: all 0.35s;
}
.item:nth-child(3) .polaroid::before {
	transform: rotate(-4deg);
}
.item:nth-child(4) {
	grid-area: p4;
	/* padding-right: var(--polaroid-padding); */
	/* padding-bottom: var(--polaroid-padding); */
	transform: scale(0.8, 0.8) rotate(3deg);
	transition: all 0.35s;
}
.item:nth-child(4) .polaroid::before {
	transform: rotate(4deg);
}


.item:hover, .item:active {
	filter: none;
	transform: scale(1, 1) rotate(0deg) !important;
	transition: all 1s;
}

.item:hover .polaroid::before, item:active .polaroid::before {
	content: '';
	z-index: -1;
	transform: rotate(0deg);
	transition: all 1s;
}

.polaroid {
	background: #fff;
	padding: 1rem;
	box-shadow: 30px 5px 30px 0px rgba(0, 0, 0, 0.2), 8px 8px 1px 2px rgba(0, 0, 0, 0.19);
	display: flex;
	flex-direction: column;
	width: 50vh;
	max-width: 100%;
}

.polaroid > img {
	max-width: 100%;
	height: auto;
}

.caption {
	font-size: var(--polaroid-font-size);
	text-align: center;
	line-height: 100%;
	padding-top: 4%;
}

.storyBoard {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	visibility: hidden;
	height: 100%;
	width: 100%;
	opacity: 0;
	z-index: 5;
	transform: scale(0);
	touch-action: pinch-zoom;
}

.storyBoard.focused {
	animation: storyFocus var(--animation-dur) cubic-bezier(.4,0,.2,1) both;
}

.storyBoard.unfocused {
	animation: storyUnfocus var(--animation-dur) cubic-bezier(.4,0,.2,1) both;
}

.storyBoard > .story {
	display: flex;
}

.storyBoard > a {
	font-family: 'Permanent Marker';
	font-size: 2.5vmin;
}

.story > img {
	width: 50vmax;
	height: auto;
	margin: 10px 0;
}

.container.animated {
	position: fixed;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	/* left: 50%; */
	opacity: 0;
}


.fadeInAnimated {
	animation: fadeInAnimated 1.5s ease-in both;
	/* animation-delay: .5s; */
}
.fadeOutAnimated {
	animation: fadeOutAnimated 1s ease-out both;
	/* animation-delay: .5s; */
}
.focusedBox {
	/* padding: 0; */
	/* transition: all 1s cubic-bezier(.4,0,.2,1); */
	animation: focusBox 1s cubic-bezier(.4,0,.2,1) both;
}

.unfocus {
	/* padding: var(--postIt-padding) var(--postIt-padding); */
	/* transition: all 1s cubic-bezier(.4,0,.2,1); */
	animation: unFocusBox 1s cubic-bezier(.4,0,.2,1) both;
}

.column-left.otherBox {
	animation: otherBoxLeft var(--animation-dur) cubic-bezier(.4,0,.2,1) both;
}
.column-left.resetLayout {
	animation: resetLayoutLeft var(--animation-dur) cubic-bezier(.4,0,.2,1) both;
}
.column-right.otherBox {
	animation: otherBoxRight var(--animation-dur) cubic-bezier(.4,0,.2,1) both;
}
.column-right.resetLayout {
	animation: resetLayoutRight var(--animation-dur) cubic-bezier(.4,0,.2,1) both;
}

.column-middle.otherBox.screenRight {
	animation: otherBoxMiddleR var(--animation-dur) cubic-bezier(.4,0,.2,1) both;
}
.column-middle.otherBox.screenLeft {
	animation: otherBoxMiddleL var(--animation-dur) cubic-bezier(.4,0,.2,1) both;
}
.column-middle.resetMiddleR {
	animation: resetMiddleR var(--animation-dur) cubic-bezier(.4,0,.2,1) both;
}
.column-middle.resetMiddleL {
	animation: resetMiddleL var(--animation-dur) cubic-bezier(.4,0,.2,1) both;
}

.grid4row {
	display: grid;
	grid-template-areas:
		"header" 
		"contentRow" 
		"quoteRow" 
		"footer";
	grid-template-rows: auto 1fr 2fr auto;
	height:calc(var(--viewport-height) *1);
	width: 100vw;
	grid-row-gap:3vh;
}

/* @media screen and (max-width: 899px) { */

/* } */

/* .stamp { */
	/* display: flex; */
	/* position: relative; */
/* } */

/* .stamp .svgObj { */
	/* width: 100%; */
/* } */

.rowOfColumns.stampRow {
	flex-wrap:wrap;
	flex-direction: row;
}

.stamp-block {
	height: 16vmin;
	width: auto;
	padding: 0 2vmin;
	justify-content: center;
	align-items: center;
}

.stamp-block .stamp {
	width: 45vmin;
	max-width: 300px;
	opacity: 1;
	transition: opacity 0.35s;
}
.stamp-block:hover .stamp {
	opacity: 0;
}

.stamp-block .stamp.withHover {
	position: absolute;
	opacity: 0;
	transition: opacity 0.35s;
}

.stamp-block:hover .stamp.withHover {
	opacity: 1;
}

.quote-row {
	grid-area: quoteRow;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	/* transform: translateX(-2%); */
	top: -3%;
	z-index: 2;
}

.quote-card {
	position: absolute;
	transform: translate(-50%, -50%);
	box-shadow: 6px 9px 10px 5px rgb(0 0 0 / 40%);
	margin: 0;
	background-image: url('images/thumbs/crumpled_cropped.jpg');
	z-index: 2;
}

.quote-card.shuffled {
	animation: shuffleTopCard var(--animation-dur) cubic-bezier(.4,0,.2,1) both;
}

/* .quote-card:nth-child(2) {
	position: absolute;
	top: -5%;
	left: 50%;
	transform: translate(-45%, 0%);
}
.quote-card:nth-child(3) {
	position: absolute;
	top: -10%;
	left: 50%;
	transform: translate(-40%, 0%);
}

.quote-card:first-child.shuffled {
	animation: shuffleFirstCard var(--animation-dur) cubic-bezier(.4,0,.2,1) both;
}

.quote-card:last-child.shuffled {
	animation: shuffleSecondCard var(--animation-dur) cubic-bezier(.4,0,.2,1) both;
}

.quote-card.top-card {
	animation: topCardZ 0.75s linear both;
} */

figure.quote {
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
	margin: 0;
	width: 500px;
	height: 300px;
	max-width: 90vw;
	max-height: 55vw;
	text-align: center;
	font-size: 16px;
	background-color: rgba(255,255,255,0.3);
	padding: 10px;
	background-image: linear-gradient(180deg, rgba(255,255,255,.3) 3rem, #F0A4A4 calc(3rem), #F0A4A4 calc(3rem + 2px), transparent 1px),    repeating-linear-gradient(0deg, transparent, transparent 1.5rem, #DDD 1px, rgb(0 0 255 / 40%) calc(1.5rem + 1px));
	box-sizing: border-box;
}

figure.quote *,
figure.quote *:before,
figure.quote *:after {
	box-sizing: border-box;
	transition: all 0.35s ease;
}

figure.quote figcaption {
	width: 100%;
	height: 100%;
}

figure.quote h2,
figure.quote h4,
figure.quote blockquote {
	margin: 0;
}

figure.quote blockquote {
	font-family: 'Caveat';
	font-size: 1.5em;
	padding: 40px 20px 10px 30px;
	text-align: justify;
	position: relative;
}

figure.quote .profile {
	width: 100px;
	border-radius: 50%;
	display: inline-block;
	border: solid 5px #A6A57A;
}


@media screen and (max-width: 350px) {
	figure.quote figcaption blockquote {
		font-size: 1em;
		padding: 0;
	}
	figure.quote figcaption h2{
		font-size: 1.3em;
	}
	figure.quote figcaption h4{
		font-size: .7em;
	}
}

@media screen and (min-width: 351px) and (max-width: 480px) {
	figure.quote figcaption h2{
		font-size: 1.5em;
	}
	figure.quote figcaption h4{
		font-size: .7em;
	}
	figure.quote figcaption blockquote{
		font-size: 1em;
		padding: 0;
		padding-top: 5%;
	}
}

@media screen and (min-width: 481px) and (max-width: 1250px) {
	figure.quote {
		max-height:30vw;
		width: 400px;
	}
	figure.quote figcaption h2{
		font-size: 2.5em;
	}
	figure.quote figcaption h4{
		font-size: .7em;
	}
	figure.quote figcaption blockquote{
		font-size: 1em;
		padding: 0;
		padding-top: 10%;
	}
/* 	.quote-row {
		top: 10%;
	} */
}

@media screen and (min-width: 801px) and (max-width: 1250px) {
	figure.quote {
		max-height:25vw;
		width: 400px;
	}	
}

@keyframes topCardZ {
	from
	{
		z-index: 1;
	}
	to
	{
		z-index: 2;
	}
}

@keyframes shuffleTopCard {
	from 
	{
		z-index: 4;
		transform: translate(-50%, -50%);
	}
	
	50%
	{
		transform: translate(-50%, -160%);
	}
	
	to
	{
		transform: translate(-50%, -50%);
		z-index: 1;
	}
}


@keyframes shuffleFirstCard {
	from 
	{
		z-index: 2;
		transform: translateY(0%);
	}
	
	50%
	{
		transform: translateY(-110%);
	}
	
	to
	{
		transform: translateY(0%);
		z-index: 1;
	}
}

@keyframes shuffleSecondCard {
	from 
	{
		z-index: 1;
		transform: translate(-45%, 0%);
	}
	
	50%
	{
		transform: translate(-45%,-100%);
	}
	
	to
	{
		transform: translate(-45%, 0%);
		z-index: 1;
	}
}


@keyframes rotateOut {
	from
	{
		/* visibility: visible; */
		/* opacity: 1; */
		transform: rotate3d(0,0,0,0);
	}
	10%
	{
		/* visibility: hidden; */
		/* opacity: 0; */
		transform: rotate3d(1,0,0,90deg);
	}
	90%
	{
		/* visibility: hidden; */
		/* opacity: 0; */
		transform: rotate3d(1,0,0,90deg);
	}
	to	{
		/* visibility: visible; */
		/* opacity: 1; */
		transform: rotate3d(0,0,0,0);
	}
}

@keyframes rotateIn {
	from
	{
		visibility: hidden;
		/* opacity: 0; */
		transform: rotate3d(1,0,0,-90deg);
	}
	10%
	{
		visibility: visible;
		/* opacity: 1; */
		transform: rotate3d(0,0,0,0);
	}
	90%
	{
		visibility: visible;
		/* opacity: 1; */
		transform: rotate3d(0,0,0,0);
	}
	to
	{
		visibility: hidden;
		/* opacity: 0; */
		transform: rotate3d(1,0,0,-90deg);
	}
}

@keyframes storyFocus {
	from 
	{
		transform-origin: var(--item-centerX) var(--item-centerY);
	}
	to 
	{
		opacity: 1;
		visibility: visible;
		transform-origin: var(--item-centerX) var(--item-centerY);
		transform: scale(1);
	}
}

@keyframes storyUnfocus {
	from 
	{
		opacity: 1;
		visibility: visible;
		transform-origin: var(--item-centerX) var(--item-centerY);
		transform: scale(1);
	}
	to 
	{
		opacity: 0;
		visibility: hidden;
		transform-origin: var(--item-centerX) var(--item-centerY);
	}
}

@keyframes fadeInAnimated {
	from { 
	visibility: hidden;
	opacity: 0;
	}
	to {
	opacity: 1;
	visibility: visible; }
}

@keyframes fadeOutAnimated {
	from { 
	visibility: visible;
	opacity: 1;
	}
	to {
	opacity: 0;
	visibility: hidden; }
}

@keyframes focusBox {
	from { }
	to { padding: 0; }
}

@keyframes unFocusBox {
	from { padding: 0; }
	to { }
}

@keyframes otherBoxLeft {
	from 
	{ 
		transform: translateX(0) rotate(0deg);
		visibility: visible;
		/* padding: var(--postIt-top-padding) var(--postIt-padding); */
		width: var(--postIt-height);
		/* height: var(--postIt-height); */
	}
	to 
	{ 
		transform: translateX(-100vw) rotate(-360deg);
		visibility: hidden;
		height: 0;
		width: 0;
		padding: 0
	}
}
@keyframes resetLayoutLeft {
	from 
	{
		transform: translateX(-100vw) rotate(-360deg);
		visibility: hidden;
		padding: 0;
		height: 0;
		width: 0;
	}
	to
	{
		transform: translateX(0) rotate(0deg);
		visibility: visible;
		/* padding: var(--postIt-top-padding) var(--postIt-padding); */
		width: var(--postIt-height);
		/* height: var(--postIt-height); */
	}
}

@keyframes otherBoxRight {
	from
	{
		transform: translateX(0) rotate(0deg);
		visibility: visible;
		/* padding: var(--postIt-top-padding) var(--postIt-padding); */
		width: var(--postIt-height);
		/* height: var(--postIt-height); */
	}
	to 
	{
		transform: translateX(100vw) rotate(360deg);
		visibility: hidden;
		height: 0;
		width: 0;
		padding: 0;
	}
}
@keyframes resetLayoutRight {
	from 
	{ 
		transform: translateX(100vw) rotate(360deg);
		visibility: hidden;
		padding: 0;
		width: 0;
		height: 0;
	}
	to 
	{
		transform: translateX(0) rotate(0deg);
		visibility: visible;
		/* padding: var(--postIt-top-padding) var(--postIt-padding); */
		width: var(--postIt-height);
		/* height: var(--postIt-height); */
	}
}

@keyframes otherBoxMiddleR {
	from
	{ 
		transform: translateX(0) rotate(0deg);
		visibility: visible;
		/* padding: var(--postIt-top-padding) var(--postIt-padding); */
		width: var(--postIt-height);
		/* height: var(--postIt-height); */
	}
	to 
	{ 
		transform: translateX(100vw) rotate(540deg);
		visibility: hidden;
		height: 0;
		width: 0;
		padding: 0;
	}
}
@keyframes otherBoxMiddleL {
	from
	{ 
		transform: translateX(0) rotate(0deg);
		visibility: visible;
		/* padding: var(--postIt-top-padding) var(--postIt-padding); */
		width: var(--postIt-height);
		/* height: var(--postIt-height); */
	}
	to 
	{
		transform: translateX(-100vw) rotate(-540deg);
		visibility: hidden;
		height: 0;
		width: 0;
		padding: 0;
	}
}

@keyframes resetMiddleR {
	from 
	{ 
		transform: translateX(100vw) rotate(540deg);
		visibility: hidden;
		padding: 0;
		width: 0;
		height: 0;
	}
	to 
	{ 
		transform: translateX(0) rotate(0deg);
		visibility: visible;
		/* padding: var(--postIt-top-padding) var(--postIt-padding); */
		width: var(--postIt-height);
		/* height: var(--postIt-height); */
	}
}
@keyframes resetMiddleL {
	from 
	{ 
		transform: translateX(-200vw) rotate(-540deg);
		visibility: hidden;
		padding: 0;
		width: 0;
		height: 0;
	}
	to 
	{ 
		transform: translateX(0) rotate(0deg);
		visibility: visible;
		/* padding: var(--postIt-top-padding) var(--postIt-padding); */
		width: var(--postIt-height);
		/* height: var(--postIt-height); */
	}
}


@keyframes wobble{
	from{ transform: rotate(-2deg); }
	to{ transform: rotate(0deg); }
}

@keyframes wobble-back{
	from{ transform: rotate(0deg); }
	to{ transform: rotate(-2deg); }
}

